{% extends 'base/base.html' %}

{% block content %}

    <h1>Accounts</h1>
    
    <div class="input-group mb-3">
        <label class="input-group-text">Balance</label>
        <span class="input-group-text">${{ balance }}</span>
    </div>
    
    <h2>Add New Account</h2>
    <form action="/account" method="POST">
        <input class="form-control" type="text" id="account" name="account" required>
        <div class="mb-3">
            <button type="submit" class="btn btn-warning">+</button>
        </div>
    </form>


    <ul class="list-group">
        {% for account in accounts %}
        <a class="" href="/account/{{ account.id }}">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            
                {{ account.id }}
                <span class="badge text-bg-primary rounded-pill">${{ account.balance }}</span>
            
        </li>
        </a>
        {% endfor %}
    </ul>



{% endblock %}