{% extends 'base/base.html' %}

{% block content %}

    <h1>Categories</h1>

    <h2>Add Category</h2>
    <form action="/category" method="POST">
        
        <input class="form-control mb-3" type="text" id="category" name="category" required>
        


       <div class="mb-3">
            <div class="form-check form-check-inline">
                <input type="radio" name="type" value="income" id="income" class="form-check-input" required>
                <label class="form-check-label" for="income">
                    Income
                </label>
            </div>
            
            <div class="form-check form-check-inline">
                <input type="radio" name="type" value="expense" value="expense" class="form-check-input">
                <label class="form-check-label" for="expense">
                    Expense
                </label>
            </div>
        </div>

        
        


        <div class="mb-3">
            <button type="button" class="btn btn-warning">+</button>
        </div>
    </form>
    


    <div class="container text-center">
    <div class="row">
        <div class="col">
        <h3>Income</h3>
            <ul class="list-group list-group-flush">
                {% for category in income_categories %}
                <li class="list-group-item">{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
        <h3>Expenses</h3>
            <ul class="list-group list-group-flush">
                {% for category in expense_categories %}
                <li class="list-group-item">{{ category }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>

{% endblock %}