{% extends 'base/base.html' %}

{% block content %}

    <h1>CATEGORIES</h1>
    <form action="/category" method="POST">
        
        <input type="text" id="category" name="category">

        
        
        <input type="radio" name="type" value="income">Income</radio>
        <input type="radio" name="type" value="expense">Expense</radio>  

        <button type="submit">Add category</button>
    </form>
    
    <ul>
        {% for category in categories %}
        <li>{{ category }}</li>
        {% endfor %}
        
    </ul>

{% endblock %}