{% extends 'base/base.html' %}

{% block content %}

    <h1>Transactions</h1>

    <div class="mb-3">
        {% if transaction_type == "expense" %}
            <a href="/" class="btn btn-danger disabled" tabindex="-1" role="button" aria-disabled="true">Expense</a>
            <a href="/add-income" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Income</a>
        {% else %}
            <a href="/" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Expense</a>
            <a href="/add-income" class="btn btn-success disabled" tabindex="-1" role="button" aria-disabled="true">Income</a>
        {% endif %}
    </div>

    
    <form action="/transaction" method="POST">

        
        <select name="account" class="form-select form-select-lg mb-3" required>
            {% for account in accounts %}
            <option value="{{ account.id }}">{{ account.id }} - ${{account.balance}}</option>
            {% endfor %}
        </select>   

        
        

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" name="amount" class="form-control" aria-label="Amount (to the nearest dollar)" required>
        </div>
        


        <div class="input-group mb-3">
        <label class="input-group-text" >Category</label>
        <select class="form-select" name="category" required>
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        </div>

        <input type="hidden" name="type" value="{{ transaction_type }}">

        <div class="mb-3">
            <input type="date" name="date" required>
        </div>
            
        <div class="mb-3">
            <button type="submit" class="btn btn-warning">+</button>
        </div>
            
    </form>
    </div>

{% endblock %}