{% extends 'base/base.html' %}

{% block content %}

    <h1>Transactions</h1>

    <p>Account: <strong>Default</strong></p>
    <p>Total: <strong>$0</strong></p>

    <h2>Expenses</h2>
    <buton>Add Expense</buton>

    <ul>
        <li>Amount:</li>
        <li>Account:</li>
        <li>Category:</li>
        <li>Date:</li>
    </ul>

    <h2>Income</h2>
    <buton>Add Income</buton>
    <ul>
        <li>Amount:</li>
        <li>Account:</li>
        <li>Category:</li>
        <li>Date:</li>
    </ul>
{% endblock %}