{% extends 'base/base.html' %}

{% block content %}

    <h1>Transactions</h1>

    

    
    <form action="/transaction" method="POST">

        <!-- <p>Account: <strong>Default</strong></p> -->
        <label>Account</label>
        <select name="account">
            {% for account in accounts %}
            <option value="{{ account.id }}">{{ account.id }} - ${{account.balance}}</option>
            {% endfor %}
        </select>   


        

        <label>Amount</label>
        <input name="amount" type="number">

        

        <label>Category</label>
        
        <select name="category">
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
            
        </select>   

        <label>Date</label>
        <input type="date" name="date">

        <label for="type">Type</label>
        
        <input type="radio" name="type" value="income">Income</radio>
        <input type="radio" name="type" value="expense">Expense</radio>
        

        <button type="submit">New Transaction</buton>
    </form>
    </div>

{% endblock %}